
.confirmButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formFields{
    display: inline-block;
}

.button{
    margin: 20px;
}

#save{
    display: none;
}