.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo{
  letter-spacing: 8px;
  color: #f07b69;
  margin-left: 10%;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.spacer{
  flex: 1 1 auto;
}

.menu-desktop{
  margin-right: 10%;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: #e7da24;
  text-decoration: none;
}

.is {
  color: #e7da24;
}

.mat-toolbar.mat-primary {
  background: brown;
}

.mat-drawer-container{
  background: white;
}



#more{
  display: none;
}



#mobileMenuButton, #mobileMenu{
  display: none;
}

@media screen and (min-width: 600px) {
  #mobileMenuButton, #mobileMenu{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .menu-desktop {
    display:none;
  }
  #mobileMenuButton{
    display: inline;
  }
  #mobileMenu{
    margin-top:200px;
    background-color: brown;
    margin-left: -70px;
  }
  .logo{
    position: fixed;
  }
}

@media screen and (min-width: 600px) {
  mat-sidenav {
    display: none;
  }
  #menu2{
    display: none;
  }
}
