<app-navbar></app-navbar>

<h1 class="text1">Alege o locație</h1>

<agm-map [zoom]="zoom" [latitude]="initlat" [longitude]="initlon" (mapClick)="chooseNewLocation($event)" [maxZoom]="maxZoom" [minZoom]="minZoom">
    <ul >
        <li *ngFor="let item of items" class="card">
                <agm-marker [latitude]='item.latitude' [longitude]="item.longitude">
                    <agm-info-window
                    [latitude]="item.lat"
                    [longitude]="item.lng">
                        {{item.name}}
                    </agm-info-window>
                </agm-marker>
        </li>
    </ul>
    <agm-marker 
        [latitude]='newLat'
        [longitude]="newLng"
        *ngIf="locationChosen">
    </agm-marker>
</agm-map>

<div class="buttonsForDialog">
    <button mat-button color="warn" mat-flat-button id="cancel" (click)="cancelOperation()">Anulează</button>
    <button mat-button color="accent" mat-flat-button id="add" (click)="openDialog()">Adaugă locație nouă</button>
</div>

<div class="list-of-cards">
    <div *ngFor="let item of items" class="card">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title class="title">{{item.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{item.fp}} alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p class="description">
                {{item.description}}
              </p>
            </mat-card-content>
          </mat-card>
    </div>
</div>


<!-- <div *ngIf="items?.length > 0; else noItems">
    <ul *ngFor = "let item of items" class="collection">
        <li class="colletion-item">{{item.latitude}}</li>
    </ul>
</div>

<ng-template #noItems>
    <hr>
    <h5>There are no items to list</h5>
</ng-template> -->