h1{
    text-align: center;
}

agm-map {
    height: 300px;
  }

.buttonsForDialog {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:20px;
}

#cancel{
    display: none;
}
#add{
    display: none;
}