<app-navbar2></app-navbar2>


<div class="palas">
    <img id="palat" src="../../../assets/images/palas.JPG">
    <div class="top-center">Bine ați venit</div>
</div>

<h1>Palatul Culturii</h1>

<p>Palatul Culturii din Iași este o clădire emblematică, construită, în perioada 1906 - 1925, în perimetrul fostei curți domnești medievale moldovenești, pe locul fostului palat domnesc   
    <span id="dots">...</span>
    <span id="more">
        Edificiul, ridicat intre 1906-1925, este creația cea mai însemnată a arhitectului roman I.D. Berindei, format la școala pariziană.
        Din punct de vedere decorativ, în holul central se remarcă un mozaic figurativ în care sunt dispuse concentric diverse reprezentări de bestiarum gotic: acvila bicefală, dragonul, grifonul, leul.    
        Deasupra holului se găsește un luminator în care, inițial, a fost amenajată o seră.
    </span>
</p>

<div class="wrapper">
    <button type="button" id="read" (click)="read()">Citește mai mult</button>
</div>