<app-navbar></app-navbar>

<div class="palas">
    <div class="container">
        <span class="text1">Discover Iași</span>
    </div>
    <div style="margin-top: 10%;">
<p>The Palace of Culture is an edifice located in Iași, Romania.   
The building served as Administrative and Justice
Palace until 1955, when its destination was changed,
being assigned to the four museums nowadays united
under the name of Moldavia National Museum Complex.
Also, the building houses the Cultural Heritage
Conservation-Restoration Centre,
and hosts various exhibitions and other events.
</p>
</div>
</div>

<!-- 

<div class="wrapper">
    <button type="button" id="read" (click)="read()">Read more</button>
</div> -->

<div class="redirect">
    <a class="locations" [routerLink]="['/locations']">See more locations</a>
</div>