/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #F3EBF6; }
.mat-tab-label, .mat-tab-link {
  color: blue;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('./assets/images/palas.JPG');
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
}
